/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppin" , sans-serif;
}

/* Apply Flex */

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-top{
  margin-top: 150px;
}

body{
    /* min-height: 100vh; */
    background-image: url(Media/alarm.webp);
    background-color: black;
}

/* main container */
.wrapper{
   
    width: 440px;
    background: rgb(174,238,233);
    background: radial-gradient(circle, rgba(174,238,233,0.9445028011204482) 0%, rgba(20,179,224,0.9445028011204482) 100%);

  padding: 2.5rem;
  flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 66px -30px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 66px -30px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 66px -30px rgba(0, 0, 0, 0.75);
}

/* clock Image */
.wrapper img{
    max-width: 100px;
}

/* time text */
.wrapper h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin: 2.5rem 0;
}
/* main content */
.wrapper .content{
    width: 100%;
    justify-content: space-evenly;
}



.wrapper .content .disable{
    opacity: 0.6;
    pointer-events: none;
}

.content .column{
    border-radius: 5px;
    border: 1px solod #999;
    width: calc(100% / 3 - 5px);
}

.content .coloumn select {
    outline: none;
    border: none;
    height: 53px;
    width: 100%;
    font-size: 1rem;
  padding-left: 10px;
  cursor: pointer;
  background-color: rgb(218, 239, 244);
  border-radius: 5px;
  font-weight: 600;
}

/* Set Button */
.wrapper button,
#set-btn {
  width: 100%;
  margin-top: 20px;
  font-size: 1.3rem;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  background-color: brown;
  background-color: rgb(174, 52, 52);
  padding: 1rem 0;
  cursor: pointer;
}

/* Click effect on button */
.wrapper button:active,
#set-btn:active {
  background-color: rgb(174, 52, 52);
  font-size: 1.2rem;
  /* padding: 0.8rem 0; */
}

/* Resume button */
#set-btn {
  background-color: rgb(9, 107, 255);
  width: 200px;
}

/* Welcome Back Screen */

.welcomeBack {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgb(86, 145, 224);
  background: radial-gradient(
    circle,
    rgba(86, 145, 224, 1) 17%,
    rgba(0, 117, 255, 1) 73%
  );
  z-index: 10;
  flex-direction: column;
  /* display: none; */
}

.d-none {
  display: none;
}

/* Media queries */
@media screen and (max-width: 500px) {
  .wrapper {
    width: 95vw;
  }

  .welcomeBack {
    font-size: 0.5rem;
  }
}
